	<ul class="nav nav-list bs-docs-sidenav affix-top">
		<li class="active"><a href="#">Admin Dashboard</a></li>
		<li><%= link_to "Comment", admin_comments_path %></li>
		<li><%= link_to "Post", admin_posts_path %></li>
		<li><%= link_to "Category", admin_categories_path %></li>
		<li><%= link_to "User", admin_users_path %></li>
		<li><%= link_to "Settings", root_path %></li>
	</ul>	