	<ul class="nav nav-admin nav-tabs mt30 mb20">
		<%= active_link_to "Admin Home", admin_path,:active => :exclusive, :wrap_tag => :li %>
		<%= active_link_to "Post", admin_posts_path, :wrap_tag => :li %>
		<%= active_link_to "Comment", admin_comments_path, :wrap_tag => :li %>
		<%= active_link_to "Category", admin_categories_path, :wrap_tag => :li %>
		<%= active_link_to "User", admin_users_path, :wrap_tag => :li %>
		<%= active_link_to "Settings", root_path, :wrap_tag => :li %>
		<li class="pull-right">
			<form class="form-search nm">
			  <input type="text" class="input-small search-query" placeholder="Search">
			</form>	
		</li>
	</ul>	