<%= form_for ([:admin, @post]) do |f| %>
<table class="table table-hover">
	<tr>
		<td width="15%"><%= f.label :title %></td>
		<td><%= f.text_field :title, :class => "" %></td>
	</tr>
	<tr>
		<td class="nb"><%= f.label :body %></td>
		<td class="nb"><%= f.text_area :body, rows: 5, :class => "span10" %></td>		
	</tr>
	<tr>
		<td class="nb"></td>
		<td class="nb"><%= f.submit :class => "btn btn-primary" %></td>		
	</tr>
</table>
<% end %>